*{

    padding: 0px;
    
    margin: 0px;
    
    }
    
    
    
    
    body{
    
    background-image: url("pexels-irina-iriser-7633185.jpg");

    background-repeat: repeat;
    background-size: cover;
    
    }
    .contenido{

        height: 280px;
        
        width: 100%;
        
        position: absolute;
        
        top: 410px;
        
         
        
        }
        
         
        
        .imagentecno{
        
         
        
        background-repeat: no-repeat;
        
        float:left;
        
        height: 200px;
        
        width: 280px;
        
        margin-left: 5px;
        
        margin-right:5px;
    
        
        
        }
        
        
        
        .textotecno{
        
        text-align: justify;
        
        color: azure;
        
        font-size: 20px;
        
        
        
        }.contenido2{

            height: 1000px;
            
            width: 100%;
            
            position: absolute;
            
            top: 310px;
            
             
            
            }
            
            .textoingles{
            
            text-align: justify;
            
            color: rgba(248, 245, 248, 0.87);
            
            font-size: 20px;
            }
            
        .imageningles{
       
        float:left;
        
        height: 200px;
        
        width: 1px;
        
        margin-left: 5px;
        
        margin-right:5px;
        
        background-image: url( imagen\ ingles2.png);
        }
        .contenido3{
         height : 280px ;
         width : 100% ;
         position: absolute;
         top: 410px;
             
        }
            
       .textomatematicas{
            
            text-align: justify;
            
            color: rgba(248, 245, 248, 0.87);
            
            font-size: 30px;
            }
            
        .imagenmatematicas{
        background-repeat: no-repeat;
        
        float:left;
        
        height: 200px;
        
        width: 1px;
        
        margin-left: 5px;
        
        margin-right:5px;
        }.contenido4{

        height: 1000px;
        
        width: 100%;
        
        position: absolute;
        
        top: 310px;
    
        }
        
        .textosociales{
        
        text-align: justify;
        
        color: rgba(248, 245, 248, 0.87);
        
        font-size: 20px;
        }
        
    .imagensociales{
    
    float:left;
    
    height: 200px;
    
    width: 1px;
    
    margin-left: 5px;
    
    margin-right:5px;
    
    background-image: url(640px-Acción_militar_en_Pueblo_Viejo.jpg);
    }
    .contenido3{
        height : 280px ;
        width : 100% ;
        position: absolute;
        top: 410px;
            
       }
           
      .textomatematicas{
           
           text-align: justify;
           
           color: rgba(248, 245, 248, 0.87);
           
           font-size: 30px;
           }
           
       .imagenmatematicas{
       background-repeat: no-repeat;
       
       float:left;
       
       height: 200px;
       
       width: 1px;
       
       margin-left: 5px;
       
       margin-right:5px;
       }.contenido5{

       height: 1000px;
       
       width: 100%;
       
       position: absolute;
       
       top: 310px;
   
       }
       
       .textobiologia{
       
       text-align: justify;
       
       color: rgba(248, 245, 248, 0.87);
       
       font-size: 20px;
       }
       
   .imagenbiologia{
   background-repeat: no-repeat;
   
   float:left;
   
   height: 200px;
   
   width: 1px;
   
   margin-left: 5px;
   
   margin-right:5px;
   
   background-image: url();
   }
   .contenido6{

    height: 1000px;
    
    width: 100%;
    
    position: absolute;
    
    top: 310px;

    }
    
    .textoreligion{
    
    text-align: justify;
    
    color: rgba(248, 245, 248, 0.87);
    
    font-size: 20px;
    }
    
.imagenreligion{
background-repeat: no-repeat;

float:left;

height: 200px;

width: 1px;

margin-left: 5px;

margin-right:5px;

background-image: url(induismo.jpg);
}


            
             
            
           