*{

    padding: 0px;
    
    margin: 0px;
    
    }
    
    
    
    
    body{
    
    background-image: url("pexels-irina-iriser-7633185.jpg");

    background-repeat: no-repeat;
    background-size: cover;
    
    }
    .contenido{

        height: 280px;
        
        width: 100%;
        
        position: absolute;
        
        top: 410px;
        
         
        
        }
        
         
        
        .imagentecno{
        
         
        
        background-repeat: no-repeat;
        
        float:left;
        
        height: 200px;
        
        width: 280px;
        
        margin-left: 5px;
        
        margin-right:5px;
    
        
        
        }
        
        
        
        .textotecno{
        
        text-align: justify;
        
        color: azure;
        
        font-size: 20px;
        
        
        
        }.contenido2{

            height: 1000px;
            
            width: 100%;
            
            position: absolute;
            
            top: 310px;
            
             
            
            }
            
            .textoingles{
            
            text-align: justify;
            
            color: rgba(248, 245, 248, 0.87);
            
            font-size: 20px;
            }
            
        .imageningles{
        background-repeat: no-repeat;
        
        float:left;
        
        height: 200px;
        
        width: 1px;
        
        margin-left: 5px;
        
        margin-right:5px;
        
        background-image: url( imagen\ ingles2.png);
        }
        .contenido3{
         height : 280px ;
         width : 100% ;
         position: absolute;
         top: 410px;
             
        }
            
       .textomatematicas{
            
            text-align: justify;
            
            color: rgba(248, 245, 248, 0.87);
            
            font-size: 30px;
            }
            
        .imagenmatematicas{
        background-repeat: no-repeat;
        
        float:left;
        
        height: 200px;
        
        width: 1px;
        
        margin-left: 5px;
        
        margin-right:5px;
        }
            
             
            
           